/*!
	Theme Name: ChurchPress Genesis Starter
	Theme URI: https://github.com/ChurchPressCo/churchpress-genesis-starter
	Description: This is a custom starter theme created for the Genesis Framework.
	Author: ChurchPress
	Author URI: https://ChurchPress.co

	Version: 1.0.0

	Tags: one-column, two-columns, left-sidebar, right-sidebar, accessibility-ready, custom-colors, custom-logo, custom-menu, featured-images, footer-widgets, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

	Template: genesis

	License: GPL-3.0+
	License URI: http://www.gnu.org/licenses/gpl-3.0.html

	Text Domain: cp-genesis-starter
*/

/*! Table of Contents
- HTML5 Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typographical Elements
	- Headings
	- Objects
	- Gallery
	- Forms
	- Tables
	- Accessibility
		- Screen Reader Text
		- Skip Links
- Structure and Layout
	- Site Container
	- Site Inner
- Common Classes
	- Avatar
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Widgets
	- Featured Content
- Plugins
	- Genesis eNews Extended
	- Genesis Simple FAQ
	- Jetpack
- Site Header
	- Title Area
- Site Navigation
	- Responsive Menu
	- Header Menu
	- Footer Menu
- Content Area
	- Entry Content
	- Entry Meta
	- Pagination
	- Entry Comments
- Sidebar
- Footer Widgets
- Site Footer
- Custom Styles
- Homepage Styles
- Print Styles
*/

@import "partials/variables";
@import "partials/resets";
@import "partials/defaults";
@import "partials/structure";
@import "partials/common-classes";
@import "partials/widgets";
@import "partials/plugins";
@import "partials/header";
@import "partials/menu";
@import "partials/content-area";
@import "partials/sidebar";
@import "partials/footer-area";
@import "partials/custom";
@import "partials/home";
@import "partials/print";
